
data/Part01/application_test.csv
data/Part01/application_train.csv
data/Part01/bureau.csv
data/Part01/bureau_balance.csv
data/Part01/credit_card_balance.csv
data/Part01/example.jpg
data/Part01/example.mat
data/Part01/example.npy
data/Part01/example.pkl
data/Part01/example.txt
data/Part01/example01.json
data/Part01/example02.json
data/Part01/HomeCredit_columns_description.csv
data/Part01/installments_payments.csv
data/Part01/POS_CASH_balance.csv
data/Part01/previous_application.csv
data/Part01/sample_submission.csv
Day_001_example_of_metrics.ipynb
Day_002_first_EDA.ipynb
Day_003-1_build_dataframe_from_scratch.ipynb
Day_003-1_HW.ipynb
Day_003-2_read_and_write_files.ipynb
Day_003-3_read_and_write_files.ipynb
Day_004_column_data_type.ipynb
Day_006_outliers_detection.ipynb
Day_007_handle_outliers.ipynb
Day_009_correlation_example.ipynb
Day_010-supplementary_correlation_and_plot_with_different_range.ipynb
pdf/D17.pdf
pdf/D18.pdf
Day_016_first_model.ipynb
Day_017_Introduction_of_Feature Engineering.ipynb
Day_018_Feature_Types.ipynb
data/Part02/house_test.csv.gz
data/Part02/house_train.csv.gz
data/Part02/taxi_data1.csv
data/Part02/taxi_data2.csv
data/Part02/titanic_test.csv
data/Part02/titanic_train.csv
pdf/D16.pdf
pdf/D19.pdf
pdf/D22.pdf
pdf/D21.pdf
pdf/D20.pdf
Day_022_LabelEncoder_and_OneHotEncoder.ipynb
Day_021_Reduce_Skewness.ipynb
Day_020_Outliers.ipynb
Day_019_Fill_NaN_and_Scalers.ipynb
pdf/D27.pdf
pdf/D26.pdf
pdf/D25.pdf
pdf/D24.pdf
pdf/D23.pdf
Day_027_GroupBy_Encoder.ipynb
Day_026_Feature_Combination.ipynb
Day_025_DayTime_Features.ipynb
Day_024_CountEncoder_and_FeatureHash.ipynb
Day_023_Mean_Encoder.ipynb
homework/Day_025_HW.ipynb
Day_028_Feature_Selection.ipynb
homework/.ipynb_checkpoints/Day_016_HW-checkpoint.ipynb
homework/Day_016_HW.ipynb
homework/Day_020_HW.ipynb
homework/Day_025_HW.ipynb
homework/Day_026_HW.ipynb
homework/hw16.csv
homework/titanic_baseline.csv
pdf/D28.pdf
homework/Day_020_HW.ipynb
homework/Day_025_HW.ipynb
homework/Day_026_HW.ipynb
Day_029_Feature_Importance.ipynb
homework/Day_020_HW.ipynb
homework/Day_025_HW.ipynb
homework/Day_026_HW.ipynb
pdf/D29.pdf
Day_030_Leaf_Encoding.ipynb
homework/Day_020_HW.ipynb
homework/Day_025_HW.ipynb
homework/Day_026_HW.ipynb
homework/Day_029_HW.ipynb
homework/Day_030_HW.ipynb
pdf/D30.pdf
pdf/D31.pdf
pdf/D32.pdf
Day_034_train_test_split.ipynb
Day_036_evaluation_metrics.ipynb
homework/.ipynb_checkpoints/Day_035_HW-checkpoint.ipynb
homework/Day_020_HW.ipynb
homework/Day_025_HW.ipynb
homework/Day_026_HW.ipynb
homework/Day_029_HW.ipynb
homework/Day_030_HW.ipynb
homework/Day_035_HW.ipynb
pdf/D33.pdf
pdf/D34.pdf
pdf/D35.pdf
pdf/D36.pdf
pdf/D38.pdf
pdf/D37.pdf
homework/Day_035_HW.ipynb
homework/Day_030_HW.ipynb
homework/Day_029_HW.ipynb
homework/Day_026_HW.ipynb
homework/Day_025_HW.ipynb
homework/Day_020_HW.ipynb
Day_038_regression_model.ipynb
pdf/D42.pdf
pdf/D41.pdf
pdf/D40.pdf
pdf/D39.pdf
homework/Day_035_HW.ipynb
homework/Day_030_HW.ipynb
homework/Day_029_HW.ipynb
homework/Day_026_HW.ipynb
homework/Day_025_HW.ipynb
homework/Day_020_HW.ipynb
Day_042_decision_tree.ipynb
Day_040_lasso_ridge_regression.ipynb
pdf/D47.pdf
pdf/D46.pdf
pdf/D45.pdf
pdf/D44.pdf
pdf/D43.pdf
homework/Untitled.ipynb
homework/submission_GB.csv
homework/Day_044_HW.ipynb
homework/Day_035_HW.ipynb
homework/Day_030_HW.ipynb
homework/Day_029_HW.ipynb
homework/Day_026_HW.ipynb
homework/Day_025_HW.ipynb
homework/Day_020_HW.ipynb
homework/.ipynb_checkpoints/Untitled-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_044_HW-checkpoint.ipynb
Day_047_hyper_parameter_tunning.ipynb
Day_046_gradient_boosting_machine.ipynb
Day_044_random_forest.ipynb
data-science-london-scikit-learn/trainLabels.csv
data-science-london-scikit-learn/train.csv
data-science-london-scikit-learn/test.csv
pdf/D49.pdf
pdf/D48.pdf
homework/titanic_rf.csv
homework/titanic_lr.csv
homework/titanic_gdbt.csv
homework/titanic_blending.csv
homework/hw48_try.ipynb
homework/Day_049_Blending_HW.ipynb
homework/Day_044_HW.ipynb
homework/Day_035_HW.ipynb
homework/Day_030_HW.ipynb
homework/Day_029_HW.ipynb
homework/Day_026_HW.ipynb
homework/Day_025_HW.ipynb
homework/Day_020_HW.ipynb
homework/.ipynb_checkpoints/hw48_try-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_049_Blending_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_044_HW-checkpoint.ipynb
Day_049_Blending.ipynb
.ipynb_checkpoints/Day_049_Blending-checkpoint.ipynb
